{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center my-4">Toy Airplane Catalog</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="path/to/airplane1.jpg" class="card-img-top" alt="Toy Airplane 1">
                <div class="card-body">
                    <h5 class="card-title">Airplane Model 1</h5>
                    <p class="card-text">Description of Airplane Model 1.</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
