.shop-header {
    background-image: url(https://img.freepik.com/premium-photo/passenger-plane-sky-wide-banner-with-copy-space-text-ai-generative_686498-5053.jpg);
    background-size: cover;
    height: 700px;
    color: white;
}

.shop-stats {
    color: white;
}