{% extends 'base.html' %}

{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">
        <div class="col-3 ms-5 d-flex flex-column justify-content-center">
            <h2>Welcome to the Toy Airplane Shop!</h2>
            <h5>Discover our unique collection of toy airplanes</h5>
            <a href="#" class="btn btn-outline-dark mt-3">Add New Airplane Models</a>
        </div>
    </div>
    <div class="row bg-dark p-3 shop-stats">
        <div class="col d-flex justify-content-center">Total # of Airplane Enthusiasts: 0</div>
        <div class="col d-flex justify-content-center">Total Sales: $0</div>
        <div class="col d-flex justify-content-center">Total # of Airplane Models: 0</div>
    </div>
</div>

{% endblock content %}
